.exam
  width: 100%
  padding: 40px

.step
  padding: 20px

.exam-settings
  .ant-row
    margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  .ant-typography
    margin-bottom: 0
    margin-right: 20px
    font-size: 16px

.setting-exam
  position: relative

  &_btn
    margin-bottom: 20px

  &_actions
    margin-top: 15px

    &_item
      margin: 0 5px

.exam-view
  .exam-card
    margin-bottom: 15px

  .exam-answer
    margin-bottom: 5px
    padding: 5px

  .correct
    box-shadow: 0 0 0 1px rgb(61, 255, 0)

.exam-view-settings
  width: 100%

  .title
    margin-bottom: 0

  .students-list

    &_student

      &_title
        display: flex
        justify-content: space-between
        margin-top: 10px

        &_status
          width: 12px
          height: 12px
          margin-right: 20px
          border-radius: 50%

        .disconnected
          background: #ff0000

        .connected
          background: #3DFF00

        .finished
          background: #0030ff




